# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset files
*.tsv
*.data
*.json

# Model files
*.h5
*.pkl
*.joblib

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# temporary file for testing
notebook.ipynb
.idea
